#!/bin/bash

{{ if or (eq .chezmoi.osRelease.name "Linux Mint") (eq .chezmoi.osRelease.name "Ubuntu") -}}

export $(cat /etc/os-release | grep VERSION_CODENAME)

echo "Install base packages"
sudo apt install {{ range .packages.linux.mint.apt -}}
{{ . | quote }} {{ end }}

echo "Extra setup"
{{ range .packages.linux.mint.extraSetup -}}
{{ . }}
{{ end -}}

echo "Fetch keys into keyrings" 
{{ range .packages.linux.mint.keyring -}}
[[ -f {{ .target }} ]] || curl -fsSL "{{ .source }}" | gpg --dearmor | sudo tee {{ .target }} >/dev/null
{{ end -}}

sudo apt update

echo "Add deb repositories"
{{ range .packages.linux.mint.source -}}
[[ -f {{ .target }} ]] || echo "{{ .deb }}" | sudo tee {{ .target }} >/dev/null
sudo chmod a+r {{ .target }}
{{ end -}}

echo "Install extra packages"
sudo apt install {{ range .packages.linux.mint.extras -}}
{{ . | quote }} {{ end }}

{{ end -}}

{{ if eq .chezmoi.os "linux" -}}

echo "Setup ZSH"
{{ range .packages.linux.zsh }}
[[ -f  $ZSH/oh-my-zsh.sh ]] || {{ . }}
{{ end -}}

echo "Setup common packages"
{{ range .packages.linux.common }}
{{ . }}
{{ end -}}

{{ end -}}
